.addFacultyBackButton{
    border: none;
    width: 50px;
    height: 30px;
    color: gray;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.addFaculty{
    flex: 4;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 15px -10px #000000;
    box-shadow: 0px 0px 15px -10px #000000;
}
.addFacultyTitle{
    padding-left: 20px;
    font-weight: 600;
}
.addForm{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.addfacultyItems{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 10px;
    margin-right: 20px;
}
.addfacultyItems>label{
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(151, 150, 150);
}
.addfacultyItems>input{
    height: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
.addFacultyButtonBottom{
    width: 200px;
    height: 35px;
    padding: 7px 10px;
    border: none;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    margin-top: 30px;
    border-radius: 10px;
    font-weight: 600;
    margin-left: 620px;
}